!!! Strict
%html{html_attrs}
  %head
    %title Douglas Jarquin
    %meta{ :name => 'keywords', :content => "douglas jarquin, douglas, jarquin" }
    %meta{ :name => 'description', :content => "" }
    %link{ :href => '/stylesheets/downwithsicko.css', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => '/images/favicon.ico', :rel => 'shortcut icon' }
    %script{ 'type' => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" }
    :javascript
      $(function() {
        var limit = 10 // how many repositories to list
        var login = 'douglasjarquin' // your username
 
        $.getJSON('http://github.com/api/v1/json/' + login + '?callback=?', function(data) {
          var repositories = $.grep(data.user.repositories, function() {
            return !this.fork
          })
 
          repositories.sort(function(a, b) {
            return b.watchers - a.watchers
          })
 
          $.each(repositories.slice(0, limit), function() {
            $('#repositories').append('<li><a href="' + this.url + '">' + this.name + '</a></li>')
          })
        })
      })
    :plain
      <style type='text/css'>
        body {
          background: #ffffff;
          margin: 0; }

        #top {
          color: #e31261;
          padding: 0 0 0 20px; }

          #top h1 {
            font-size: 75px; }
            
            #top h1 a,
            #top h1 a:hover {
              color: #e31261;
              text-decoration: none; }

        #bottom { }

          #bottom ul#repositories {
            background: #e31261;
            list-style-type: none;
            margin: 0;
            padding: 0; }

            #bottom ul#repositories li,
            #bottom ul#repositories li a {
              border-bottom: 1px solid #e5e5e5;
              color: #e5e5e5;
              font-size: 45px;
              padding: 20px 0 20px 10px;
              text-decoration: none; }

              #bottom ul#repositories li a:hover {
                color: #fff;
              }
      </style>
  %body
    #top
      %h1
        I am Douglas Jarquin and these are my GitHub repositories. Read my <a href="http://douglasjarquin.com/">blog</a>, <a href="http://twitter.com/douglasjarquin">stalk me</a>, or <a href="http://ruby.meetup.com/71/">hang out with me</a>.
    #bottom
      %ul#repositories
